@import "tailwindcss";

/* -----------------------------
   Global Styles
------------------------------ */

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #0F172A;
  color: white;
}